<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <indexFieldStorageValueFormatter set:type="Sitecore.Support.XA.Foundation.Search.Providers.Azure.CloudIndexFieldStorageValueFormatter, Sitecore.Support.247139">
          </indexFieldStorageValueFormatter>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>